---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
import Population from "../slides/Population.astro";
import Hunting from "../slides/Hunting.astro";
import Defense from "../slides/Defense.astro";
import Results from "../slides/Results.astro";
import Bilan from "../slides/Bilan.astro";
import Conclusion from "../slides/Conclusion.astro";
---

<Layout title="Lion Optimization Algorithm">
	<main class="reveal">
		<div class="slides">
			<Title />
			<Population />
			<Hunting />
			<Defense />
			<Results />
			<Bilan />
			<Conclusion />
		</div>
	</main>
</Layout>
